version: "3.9"
services:
  whatplane-api:
    image: wparr282/whatplane:0.3.1
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      - AZURE_STORAGE_CONNECTION_STRING=
      - CORS_ORIGINS=http://localhost:3000,https://whatplaneis.it,https://www.whatplaneis.it
      - CORS_ORIGINS_REGEX=https://.*azurestaticapps\.net
    command: ["start-uvicorn"]
